<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-...your-integrity-key..." crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/layout.css">
    <link rel="stylesheet" href="/static/css/{{.Title}}.css">
    <title>{{.Title}}</title>
</head>
<body>
    <div class="page-container">
        <header class="header">
            <div class="navbar-div">
                <img src="static/images/trident.svg" id="logo">
                <h1 class="mt-2">Neptune's Kitchen</h1>
            </div>
            <div class="navbar-div end">
                <h3 class="mt-2 me-4 pb-1" id="role">
                    {{if eq .Role "admin"}}
                        <a href="/admin">Admin</a>
                    {{end}}
                    {{if eq .Role "chef"}}
                        <a href="/chef">Chef</a>
                    {{end}}
                    {{if eq .Role "customer"}}
                        <a href="/menu">Customer</a>
                    {{end}}
                    {{if and (ne .Role "admin") (ne .Role "chef") (ne .Role "customer")}}
                        <a href="/">Guest</a>
                    {{end}}
                </h3>
                <form action="/logout" method="POST" class="ms-3 mt-2">
                    <button class="btn btn-outline-danger btn-sm d-flex align-items-center loggingout">
                        <i class="fas fa-sign-out-alt me-2" id="logout"></i>
                    </button>
                </form>
            </div>
        </header>

        <main class="content">
            {{ block "content" . }}{{ end }}
        </main>
        <footer class="footer">
            <p>&copy; 2025 Neptune's Kitchen. All rights reserved.</p>
        </footer>
    </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
<script src="/static/js/{{.Title}}.js"></script>
</body>
</html>
