.order_table , .approval_table, .item_table{
    max-height: 400px;
    overflow: scroll;
}

.position-fixed.bottom-0.end-0.p-3{
    z-index: 101;
}
.toast-body, .toast{
    background-color: #D6EEB7;
    color: #040403;
}
.redirect {
    font-size: small;
    border: none;
    margin-top: 1rem;
    color: #D6EEB7;
}

#greeting {
    font-family: 'Metamorphous', serif;
}