.content {
    flex: 1;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    background-color: #0c0d0d;
    overflow: hidden;
    position: relative;
    background-image: url('/static/images/bgg.jpg');
    background-repeat: no-repeat;
    background-position: 120% center;
    background-size: contain;
}



#cover {
    width: 50%;
    height: 100%;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    box-sizing: border-box;
}

#introduction {
    color: white;
    font-family: 'Metamorphous', serif;
    width: 90%;
    text-align: left;
    font-size: large;
    margin-bottom: 2rem;
}
.btn.btn-primary {
    background-color: #D6EEB7;
    border-color: #D6EEB7;
    color: #021945;
    font-family: 'Metamorphous', serif;
}
