#cover {
    position: inherit;
    margin: auto;
    width: 50%;
    height: auto;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Metamorphous', serif;
}
.content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    overflow: hidden;
    position: relative;
    padding: 0 !important;
    background-color: black;
    background-image: url('/static/images/cookie.jpg');
    background-repeat: no-repeat;
    background-position: -10rem center;
    background-size: contain;
}

.mt-5{
    margin-top: 0rem !important;
}
.btn.btn-primary {
    background-color: #D6EEB7;
    border-color: #D6EEB7;
    color: #021945;
    font-family: 'Metamorphous', serif;
}


@media (max-width: 1300px) {
    #cover {
        width: 70%;
        left: 15%;
    }
}
@media (max-width: 900px) {
    #cover {
        width: 80%;
        left: 10%;
    }
}
@media (max-width: 620px) {
    #cover {
        width: 90%;
        left: 5%;
    }
}
.position-fixed.bottom-0.end-0.p-3{
    z-index: 101;
}
.toast-body, .d-flex{
    background-color: #D6EEB7;
    color: #040403;
}
.redirect {
    font-size: small;
    border: none;
    margin-top: 1rem;
    color: #D6EEB7;
}

.alert-text {
    font-size: small;
    color: grey;
}